@using Microsoft.AspNet.Identity
@using octopus.Helpers;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
		@if(UserHelper.IsAdmin(User.Identity))
		{
			<li>@Html.ActionLink("Add user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		}
        <li>@Html.ActionLink("Log off \"" + User.Identity.GetUserName() + "\"" , "LogOff", "Account")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
